{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="table-users">
   <div class="header">Flipkart Review Scrapper</div>
      </div>
  <div>
<div >

    <div class="form content">
        <form action="/" method="POST">
            <div class="center">
            <input type="text" name="searchid" id="searchid" Placeholder="Search">

            <input type="text" name="email" id="email" Placeholder="Email(optional)">

            <input type="submit" value="Search"></div>
        </form>
    </div>
</div>
{% endblock %}
